/*************general*****************/
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.5em;
    color: #655A56;
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 2 * 4vw); 
}

.container{
    margin: 0 auto;
    width: 35em;
    background-color: #F9F5F3;
}

.bmi-section, .demand-calories-section, .display-section, .makronutrients-section, .list-section{
    margin: 3em;
    text-align: center;
}

.bmi-weight-input, .bmi-height-input, .sex-selection, .age-input, .activity-selection, .achievment-selection, .add-type, .add-description, .add-calories-value, 
.add-carbohydrates-value, .add-proteins-value, .add-fats-value{
    font-size: 0.8em;
    width: 20em;
}

.bmi-submit-button, .bmr-submit-button, .add-button{
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    margin: 0.4em;
    padding: 0.7em 1em;
    font-size: 1em;
    border-radius: 5rem;
    text-transform: uppercase;
    color: #fff;
}

.bmi-submit-button:focus, .bmr-submit-button:focus, .add-button:focus{
    outline: none;
}

.right{
    float: right;
}



/***********bmi section*********/
.bmi-section{
    padding: 3em 0 0 0;
    
}


/************display section********/
.calories-display{
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 0.3em 1em;
}

.absorbed-calories-title, .burned-calories-title{
    float: left;
}

.absorbed-calories-value, .burned-calories-value{
    float: left;
}


.makronutrients-section{
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin: auto;
    padding: 0.3em 1em;
}

.carbohydrates-title, .proteins-title, .fats-title{
    float: left;
}

.carbohydrates-value, .proteins-value, .fats-value{
    float: left;
}


/**********list section **********/
.list-section{
    clear: both;
}



/* *************** display list section ************ */

.display-list-container{
    margin: 3em 0 0 0;
    padding: 0 0 5em 0;
}

.food {
    float: left;
    width: 50%;
}

.activity {
    float: left;
    width: 50%;
}

.item {
    float: left;
    width: 100%;
}

.item-description {
    float: left;
}

.item-calories {
    float: left;
    padding: 0 0.5em 0 0;
}

.item-delete {
    float: left;
    padding: 0 0.5em 0 0;
}

.toRight {
    float: right;
}





